# build output
/dist/

# generated types
/.astro/

# dependencies
/node_modules/

# logs
/pnpm-debug.log*

# environment variables
/.env
/.env.production

# cache files
/.eslintcache
/.sequoia-state.json

# Local Netlify folder
/.netlify

# macOS-specific files
.DS_Store
