# build output
/dist/

# generated types
/.astro/

# dependencies
/node_modules/

# logs
/pnpm-debug.log*

# environment variables
/.env
/.env.production

# cache files
/.eslintcache

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/

# Local Netlify folder
/.netlify

# macOS-specific files
.DS_Store
