---
import BlueskyIcon from "./icons/BlueskyIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import SubstackIcon from "./icons/SubstackIcon.astro";
---

<header class="bg-background/80 backdrop-blur-md border-b border-border">
  <div class="container flex justify-between items-center py-4">
    <div class="flex items-center gap-2">
      <a href="/" class="font-mono text-lg font-bold">
        <span class="text-primary">~</span>/serhalp
      </a>
    </div>

    <div class="flex items-center gap-4">
      <a
        href="https://github.com/serhalp"
        class="social-icon"
        aria-label="GitHub Profile"
        title="GitHub Profile"
      >
        <GitHubIcon size={20} />
      </a>
      <a
        href="https://www.linkedin.com/in/philippe-serhal"
        class="social-icon"
        aria-label="LinkedIn Profile"
        title="LinkedIn Profile"
      >
        <LinkedInIcon size={20} />
      </a>
      <a
        href="https://bsky.app/profile/philippeserhal.com"
        class="social-icon"
        aria-label="Bluesky Profile"
        title="Bluesky Profile"
      >
        <BlueskyIcon size={20} />
      </a>
      <a
        href="https://serhalp.substack.com"
        class="social-icon"
        aria-label="Substack Blog"
        title="Substack Blog"
      >
        <SubstackIcon size={20} />
      </a>
    </div>
  </div>
</header>
