name: Dependency Diff

on:
  pull_request:
    paths:
      - "package.json"
      - "pnpm-lock.yaml"

permissions:
  contents: read
  pull-requests: write

jobs:
  dependency-diff:
    runs-on: ubuntu-latest
    steps:
      - name: Dependency Diff
        uses: actions/dependency-review-action@v4
