name: E2E Tests

on: [push, pull_request]

jobs:
  e2e:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.x

      - name: Set up PNPM
        run: corepack enable

      - name: Install dependencies
        run: pnpm install

      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps chromium

      - name: Wait for Netlify Deploy
        uses: jakepartusch/wait-for-netlify-action@v1
        id: wait-for-netlify
        with:
          site_name: "philippeserhal"
          max_timeout: 600

      - name: Run Playwright tests against Netlify deploy
        run: pnpm run test:e2e
        env:
          PLAYWRIGHT_TEST_BASE_URL: ${{ steps.wait-for-netlify.outputs.url }}

      - name: Upload Playwright Report
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
